Repository 07-priyanshu/VridhaMitra, pull requests merged in 2025-04, with the labels that each got.

#1 Updated Yoga Pose Detection Pipeline
  ML/Confusion_Matrix/.DS_Store
  ML/Confusion_Matrix/Confusion_Matrix_Decision Tree.png
  ML/Confusion_Matrix/Confusion_Matrix_Gradient Boosting.png
  ML/Confusion_Matrix/Confusion_Matrix_KNearest Neighbour.png
  ML/Confusion_Matrix/Confusion_Matrix_Logistic Regression.png
  ML/Confusion_Matrix/Confusion_Matrix_Random Forest.png
  ML/Confusion_Matrix/Confusion_Matrix_SGD.png
  ML/Confusion_Matrix/Confusion_Matrix_Voting Classifier.png
  ML/Dataset/test_keypoints.csv
  ML/Dataset/train_keypoints.csv
  ML/Dataset/valid_keypoints.csv
  ML/Images/BA1.jpeg
  ML/Images/BA2.jpeg
  ML/Images/BKA1.jpeg
  ML/Images/BKA2.jpeg
  ML/Images/MA1.jpeg
  ML/Images/MA2.jpeg
  ML/Images/VA1.jpeg
  ML/Images/VA2.jpeg
  ML/Images/yoga_pose_distribution.png
  ML/Prediction_Pipeline/.DS_Store
  ML/Prediction_Pipeline/Annotated_Image/keypoints.png
  ML/Prediction_Pipeline/__pycache__/data.cpython-312.pyc
  ML/Prediction_Pipeline/app.py
  ML/Prediction_Pipeline/data.py
  ML/Prediction_Pipeline/index.html
  ML/Prediction_Pipeline/test.jpg
  ML/Prediction_Pipeline/test.py
  ML/Yoga_Pose_ML.ipynb
  ML/Yoga_pose_predictions.png
  ML/label_encoder.pkl
  ML/model.pkl
  ML/scaler.pkl
  ML/yoga_pose_distribution.png
Labels: ml

#4 redux store done
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/pages/Admin.jsx
  frontend/src/pages/User.jsx
  frontend/src/pages/login.jsx
  frontend/src/pages/signup.jsx
  frontend/src/pages/user-features/PoseDetection.jsx
  frontend/store/emailSlice.js
  frontend/store/logSlice.js
  frontend/store/store.js
Labels: backend

#5 updated backend readme
  backend/ReadMe.md
  frontend/ReadMe.md
Labels: documentation, misc

#6 default page
  frontend/src/main.jsx
  frontend/src/pages/User.jsx
  frontend/src/pages/login.jsx
Labels: frontend, backend

#7 yoga page uploaded
  frontend/src/pages/admin.css
  frontend/src/pages/user-features/CameraFeed.jsx
  frontend/src/pages/user-features/MedicineReminder.css
  frontend/src/pages/user-features/MedicineReminder.jsx
  frontend/src/pages/user-features/PoseDetection.css
  frontend/src/pages/user-features/PoseDetection.jsx
  frontend/src/pages/user-features/PoseSelector.jsx
Labels: frontend

#8 travel pages uploaded
  frontend/src/main.jsx
  frontend/src/pages/user-features/TravelRequests.css
  frontend/src/pages/user-features/TravelRequests.jsx
Labels: frontend

#9 added requirements.txt and readme in ML
  ML/.gitignore
  ML/readme.md
  ML/requirements.txt
Labels: ml

#10 routing
  backend/index.js
  backend/models/user/user-health.js
  backend/models/user/user-travel.js
  backend/models/user/user.js
  backend/uploads/2adc81fa857789d73b2c8e2293adae05
  backend/uploads/9e847361c4084b651acef693fba9f902
  backend/uploads/b4422b3299a819fa33ed4a18ecd7ec58
  backend/uploads/d667cce19fc1a59f084d9f153b2496cb
  frontend/src/assets/Background.jpg
  frontend/src/main.jsx
  frontend/src/pages/Admin.jsx
  frontend/src/pages/admin-features/add-user.jsx
  frontend/src/pages/login.jsx
  frontend/src/pages/user-features/HealthForm.jsx
Labels: backend

#12 add user updated
  frontend/src/main.jsx
  frontend/src/pages/Admin.jsx
  frontend/src/pages/admin.css
Labels: frontend

#14 added back button on forms
  frontend/src/pages/admin-features/add-user.jsx
  frontend/src/pages/user-features/fundraiser.jsx
  frontend/src/pages/user-features/travel.jsx
Labels: frontend

#15 location tracker completed
  backend/index.js
  backend/utils/sendAlert.js
  frontend/src/pages/User.jsx
Labels: backend

#16 all routes deployed
  frontend/src/App.jsx
  frontend/src/pages/Admin.jsx
  frontend/src/pages/User.jsx
  frontend/src/pages/admin-features/add-user.jsx
  frontend/src/pages/login.jsx
  frontend/src/pages/signup.jsx
  frontend/src/pages/test.jsx
  frontend/src/pages/user-features/HealthForm.jsx
  frontend/src/pages/user-features/fundraiser.jsx
  frontend/src/pages/user-features/travel.jsx
Labels: backend

#17 all done
  backend/index.js
  frontend/.gitignore
  frontend/dist/assets/Baddha_konasana-CARk5n-9.jpg
  frontend/dist/assets/Balasana-TfvGL_Yc.jpg
  frontend/dist/assets/Malasana-u6J-Uv14.jpeg
  frontend/dist/assets/Vajrasana-BlAEYIN8.jpg
  frontend/dist/assets/coming_soon-BIX5EnKf.jpeg
  frontend/dist/assets/index-BtOww6ze.js
  frontend/dist/assets/index-hc14aQWg.css
  frontend/dist/index.html
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/pages/admin-features/add-user.jsx
  frontend/src/pages/login.jsx
  frontend/src/pages/signup.jsx
  frontend/src/pages/user-features/HealthForm.jsx
  frontend/src/pages/user-features/fundraiser.jsx
Labels: frontend, backend
